<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>

{{ form_start(form) }}
<div class="container">
    <div class="row">
        {% for i in 1..nbTour %}
            <div class="tour{{i}} col-sm">
                <p>Tour {{i}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% for duel in form.duels %}
    <div class="container ">
        <table class='match{{loop.index}} table table-dark table-bordered'>
            {% if  duel.vars.value.inscrit1 %}
                <tr class='inscrit{{duel.vars.value.inscrit1.nom}}'>
                    <th scope='row'>{{ form_row(duel.inscrit1) }}</th>
                    <td>{{ form_row(duel.scoreInscrit1) }}</td>
                </tr>
            {% else %}
                <tr>
                    <th scope='row'>{{ form_row(duel.inscrit1) }}</th>
                    <td>{{ form_row(duel.scoreInscrit1) }}</td>
                </tr>
            {% endif %}
            {% if  duel.vars.value.inscrit2 %}
                <tr class='inscrit{{duel.vars.value.inscrit2.nom}}'>
                    <th scope='row'>{{ form_row(duel.inscrit2) }}</th>
                    <td>{{ form_row(duel.scoreInscrit2) }}</td>
                </tr>
            {% else %}
                <tr>
                    <th scope='row'>{{ form_row(duel.inscrit2) }}</th>
                    <td>{{ form_row(duel.scoreInscrit2) }}</td>
                </tr>
            {% endif %}

        </table>
    </div>
    <script>
        $( ".tour" + "{{duel.vars.value.tour}}" ).append( $(".match" + "{{loop.index}}") );

    </script>
{% endfor %}
<HR width="100%"> <h2>Loser Bracket</h2>
<div class="container">
    <div class="row">
        {% for i in 1..nbTourLooser %}
            <div class="tourLooser{{i}} col-sm">
                <p>Tour {{i}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% for duel in form.duelsPerdants %}
    <div class="container ">
        <table class='matchLooser{{loop.index}} table table-dark table-bordered'>
            {% if  duel.vars.value.inscrit1 %}
                <tr class='inscrit{{duel.vars.value.inscrit1.nom}}'>
                    <th scope='row'>{{ form_row(duel.inscrit1) }}</th>
                    <td>{{ form_row(duel.scoreInscrit1) }}</td>
                </tr>
            {% else %}
                <tr>
                    <th scope='row'>{{ form_row(duel.inscrit1) }}</th>
                    <td>{{ form_row(duel.scoreInscrit1) }}</td>
                </tr>
            {% endif %}
            {% if  duel.vars.value.inscrit2 %}
                <tr class='inscrit{{duel.vars.value.inscrit2.nom}}'>
                    <th scope='row'>{{ form_row(duel.inscrit2) }}</th>
                    <td>{{ form_row(duel.scoreInscrit2) }}</td>
                </tr>
            {% else %}
                <tr>
                    <th scope='row'>{{ form_row(duel.inscrit2) }}</th>
                    <td>{{ form_row(duel.scoreInscrit2) }}</td>
                </tr>
            {% endif %}

        </table>
    </div>
    <script>
        $( ".tourLooser" + "{{duel.vars.value.tour}}" ).append( $(".matchLooser" + "{{loop.index}}") );

    </script>
{% endfor %}


<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}



	{% for inscrit in inscrits %}
        <script>
            $(function() {
                $('.inscrit' + "{{inscrit.nom}}" ).hover(function() {
                    $('.inscrit' + "{{inscrit.nom}}" ).css('background-color', 'pink');
                    $('.inscrit' + "{{inscrit.nom}}" ).css('color', 'black');
                }, function() {
                    // on mouseout, reset the background colour
                    $('.inscrit' + "{{inscrit.nom}}" ).css('background-color', '');
                    $('.inscrit' + "{{inscrit.nom}}" ).css('color', '');
                });
            });
        </script>
    {% endfor %}
