{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ evenement.texte }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Published_at</th>
                <td>{{ evenement.publishedAt ? evenement.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre d'incrits</th>
                <td>{{ inscrits|length }}</td>
            </tr>
            <tr>
                <th>Initialiser Bracket Direct </th>
                <td>  <a href="{{ path('initialiserBracketDirect', {'id': evenement.id}) }}">Initialiser</a> </td>
            </tr>
            <tr>
                <th>Tour suivant</th>
                <td> <a href="{{ path('tourSuivantBracketDirect', {'id': evenement.id}) }}">Tour suivant</a> </td>
            </tr>
            <tr>
                <th>Mettre a jour les duels</th>
                <td> <a href="{{ path('bracket_direct_edit', {'id': evenement.bracket.id}) }}">Mettre a jour les duels</a> </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evenement_index') }}">back to list</a>

    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>

    <a href="{{ path('affiche_bracket', {'id': evenement.id}) }}">bracket</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
