{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Mettre a jour les matchs</h1>

    {% if evenement.isTournoi == true %}
      {% for duel in evenement.bracket.duels %}

        <table class='match{{loop.index}} table table-dark table-bordered'>
          <form action="{{path('update_duels')}}">
            {% if  duel.Inscrit1 %}
              <tr class='inscrit inscrit{{duel.inscrit1.nom}} {{duel.inscrit1.nom}}'>
                <th scope='row'>{{ duel.inscrit1.nom}}</th>
                <td>{{ duel.ScoreInscrit1 }} <input type="number" name="scoreInscrit1" /> </td>
              </tr>
            {% else %}
              <tr>
                <th scope='row'> INCONNU </th>
                <td>0</td>
              </tr>
            {% endif %}
            {% if  duel.Inscrit2 %}
              <tr class='inscrit{{duel.inscrit2.nom}}'>
                <th scope='row'>{{ duel.Inscrit2.nom}}</th>
                <td>{{ duel.ScoreInscrit2 }} <input type="number" name="scoreInscrit2" /></td>
              </tr>

            {% else %}
              <tr>
                <th scope='row'> INCONNU </th>
                <td>0</td>
              </tr>
            {% endif %}
            <input type="hidden" id="idDuel" name="idDuel" value="{{duel.id}}">
            <input type="submit" value="Mettre a jour">
          </form>
        </table>

        <script>
          $( ".tour" + {{duel.tour}} ).append( $(".match" + {{loop.index}}) );

        </script>






      {% endfor %}
    {% endif %}

    <a href="{{ path('evenement_index') }}">back to list</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
