{% extends 'base.html.twig' %}

{% block title %}Bracket{% endblock %}

{% block body %}

<h1>Bracket</h1>
<div class="container">
	<div class="row">
		{% for i in 1..nbTour %}
		<div class="tour{{i}} col-sm">
			<p>Tour {{i}}</p>
		</div>
		{% endfor %}
  </div>
</div>


  {% if evenement.isTournoi == true %}
    {% for duel in evenement.bracket.duels %}

      <table class='match{{loop.index}} table table-dark table-bordered'>
        {% if  duel.Inscrit1 %}
          <tr class='inscrit inscrit{{duel.inscrit1.nom}} {{duel.inscrit1.nom}}'>
            <th scope='row'>{{ duel.inscrit1.nom}}</th>
            <td>{{ duel.ScoreInscrit1 }}</td>
          </tr>
        {% else %}
          <tr>
            <th scope='row'> INCONNU </th>
            <td>0</td>
          </tr>
        {% endif %}
        {% if  duel.Inscrit2 %}
          <tr class='inscrit{{duel.inscrit2.nom}} {{duel.inscrit2.nom}}'>
            <th scope='row'>{{ duel.Inscrit2.nom}}</th>
            <td>{{ duel.ScoreInscrit2 }}</td>
          </tr>

        {% else %}
          <tr>
            <th scope='row'> INCONNU </th>
            <td>0</td>
          </tr>
        {% endif %}
      </table>

      <script>
        $( ".tour" + {{duel.tour}} ).append( $(".match" + {{loop.index}}) );

      </script>






    {% endfor %}



<HR width="100%">
	<h1> Looser Bracket</h1>
		<div class="container">
			<div class="row">
				{% for i in 1..nbTourLooser %}
				<div class="tourLooser{{i}} col-sm">
					<p>Tour {{i}}</p>
				</div>
				{% endfor %}
		  </div>
		</div>


		    {% for duel in evenement.bracket.duelsPerdants %}

		      <table class='matchLooser{{loop.index}} table table-dark table-bordered'>
		        {% if  duel.Inscrit1 %}
		          <tr class='inscrit inscrit{{duel.inscrit1.nom}} {{duel.inscrit1.nom}}'>
		            <th scope='row'>{{ duel.inscrit1.nom}}</th>
		            <td>{{ duel.ScoreInscrit1 }}</td>
		          </tr>
		        {% else %}
		          <tr>
		            <th scope='row'> INCONNU </th>
		            <td>0</td>
		          </tr>
		        {% endif %}
		        {% if  duel.Inscrit2 %}
		          <tr class='inscrit{{duel.inscrit2.nom}} {{duel.inscrit2.nom}}'>
		            <th scope='row'>{{ duel.Inscrit2.nom}}</th>
		            <td>{{ duel.ScoreInscrit2 }}</td>
		          </tr>

		        {% else %}
		          <tr>
		            <th scope='row'> INCONNU </th>
		            <td>0</td>
		          </tr>
		        {% endif %}
		      </table>

		      <script>
		        $( ".tourLooser" + {{duel.tour}} ).append( $(".matchLooser" + {{loop.index}}) );

		      </script>


		    {% endfor %}







    {% for inscrit in inscrits %}
    <script>
    $(function() {
        $('.inscrit' + "{{inscrit.nom}}" ).hover(function() {
        $('.inscrit' + "{{inscrit.nom}}" ).css('background-color', 'green');
				$('.inscrit' + "{{inscrit.nom}}" ).css('color', 'black');
      }, function() {
        // on mouseout, reset the background colour
        $('.inscrit' + "{{inscrit.nom}}" ).css('background-color', '');
				$('.inscrit' + "{{inscrit.nom}}" ).css('color', '');
      });
    });
    </script>
    {% endfor %}


  {% endif %}

{% endblock %}
