{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}


    <div class="container">
        <h1>Inscrire mon equipe a l'evenement : {{ evenement.titre }}</h1>
        <div class="row">
          <div class="col-sm-8">

              {% if connecte %}
                {% if estInscrit %}
                  <p> Vous etes deja inscrit ! </p>
                  {% else %}
                    {% if evenement.NbInscrits > 1 %}

                      {{ form_start(form) }}
                          {{ form_widget(form) }}
                          <button class="btn">{{ button_label|default('Inscrire mon Equipe') }}</button>
                      {{ form_end(form) }}

                    {% endif %}
                {% endif %}
              {% else %}
                <p>Vous devez vous connecter pour vous inscrire</p>
              {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
