{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ evenement.texte }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Published_at</th>
                <td>{{ evenement.publishedAt ? evenement.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre d'incrits</th>
                <td>{{ inscrits|length }}</td>
            </tr>
            <tr>
              {% if connecte %}
                {% if evenement.NbInscrits > 1 %}
                <th>Inscrire mon equipe</th>
                <td>
                  {{ form_start(form) }}
                      {{ form_widget(form) }}
                      <button class="btn">{{ button_label|default('Inscrire mon Equipe') }}</button>
                  {{ form_end(form) }}
                </td>
                {% else %}
                  <th>Inscription</th>
                  <td>
                    <a href="{{ path('inscription', {'id': evenement.id}) }}">s'inscrire</a>
                  </td>
                {% endif %}
              {% else %}
                <th>Vous devez vous connecter pour vous inscrire</th>
              {% endif %}
            </tr>
        </tbody>

    </table>

{% endblock %}
