{% extends 'base.html.twig' %}

{% block title %}Hello PageArchivesController!{% endblock %}

{% block body %}
<div class="container">
  <div id="accordion">
    <div class="row">
    {% for categorie in categories %}
    <div class="col-sm-6">
      <div class="card">
        <button class="btn btn-dark card-header" id="heading{{loop.index}}" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
              {{categorie.titre}}
        </button>

        <div id="collapse{{loop.index}}" class="collapse" aria-labelledby="heading{{loop.index}}" data-parent="#accordion">
          <div class="card-body">
            <table class="table">
              {% for matiere in matieres %}
                {% if matiere.categorie == categorie %}
                <tr>
                  <td>
                    <form method="get" action="{{ path('matiere', {'slugCategorie': categorie.slug,'slugMatiere': matiere.slug}) }}">
                        <button type="submit" class="btn btn-secondary">{{matiere.titre}}</button>
                    </form>
                  </td>
                </tr>

                {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    {% else %}
      <tr>
        <td colspan="5">no records found</td>
      </tr>
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}
