{% extends 'base.html.twig' %}

{% block title %}CategorieForum index{% endblock %}

{% block body %}
    <h1>CategorieForum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_forum in categorie_forums %}
            <tr>
                <td>{{ categorie_forum.id }}</td>
                <td>{{ categorie_forum.titre }}</td>
                <td>{{ categorie_forum.slug }}</td>
                <td>
                    <a href="{{ path('categorie_forum_show', {'id': categorie_forum.id}) }}">show</a>
                    <a href="{{ path('categorie_forum_edit', {'id': categorie_forum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_forum_new') }}">Create new</a>
{% endblock %}
