{% extends 'base.html.twig' %}

{% block title %}Archives{% endblock %}

{% block body %}
    <h1>Archives</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ archive.id }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ archive.sujet }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ archive.date ? archive.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>SecondeSession</th>
                <td>{{ archive.secondeSession ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('archives_index') }}">back to list</a>

    <a href="{{ path('archives_edit', {'id': archive.id}) }}">edit</a>

    {{ include('archives/_delete_form.html.twig') }}
{% endblock %}
