{% extends 'base.html.twig' %}

{% block title %}{{ topic.titre }}{% endblock %}

{% block body %}
  {{topic.titre}}
  <p>Publié le {{ topic.date|date("F jS \\a\\t g:ia") }}</p>
  <div class="container">
    {{topic.text | raw }}
  </div>
  <div class="container">


    {% for commentaire in topic.commentaires %}
      <div class="container">
        {{ commentaire.user.username }}
        {{ commentaire.publishedAt|date("F jS \\a\\t g:ia")}}
        {{ commentaire.text | raw }}
      </div>
    {% else %}
      <div class="container">
        Soyez le premier a répondre !
      </div>
    {% endfor %}
    {% if isConnected %}
      {{ include('forum/_formCommentaire.html.twig') }}
    {% else %}
    <div class="container">
      Veuillez vous connecter pour pouvoir commenter !
    </div>
    {% endif %}
  </div>

{% endblock %}
