{% extends 'base.html.twig' %}

{% block title %}{{ topic.titre }}{% endblock %}

{% block body %}
  {{topic.titre}}
  <div class="container">
    {{topic.text}}
  </div>
  <div class="container">
    {% for commentaire in topic.commentaires %}
      <div class="container">
        {{ commentaire.user.username }}
        {{ commentaire.text | raw }}
      </div>
    {% else %}
      <div class="container">
        Soyez le premier a répondre !
      </div>
    {% endfor %}
    {{ include('forum/_formCommentaire.html.twig') }}
  </div>

{% endblock %}
